.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 230px minmax(320px,1200px) auto;
    grid-template-areas: 
    ". header headerTop ."
    ". sidebar body ."
    "footer footer footer footer"
    ;
    grid-template-rows: auto 1fr auto;
    gap: 0 30px;
    background: rgb(245, 246, 248);;
}

.header {
    grid-area: header;
}

.headerTop {
    grid-area: headerTop;
}

.sidebar {
    grid-area: sidebar;
    margin-top: 30px;
}

.footer {
    color: #fff;
    background-color: var(--purple-color);
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    grid-area: footer;
}

.footerGap {
    display: flex;
    gap: 40px;
}

.body {
    grid-area: body;
    margin-top: 40px;
}

@media (max-width: 765px) {
    .wrapper {
        grid-template-areas: 
    "header"
    "body"
    "footer";
    }

    .sidebar {
        display: none;
    }

    .header {
        display: block;
    }
}